<h1>Customers</h1>

<!-- <button routerLink="/customercreate">Add Customers to list</button> -->
<p>Logged in as:{{curuser}}</p>
<h2>List of Customers</h2>

<ul>
    <!-- <li *ngFor="let customer of customerlist"> -->
    <li>
        {{customer.first_name}}
        <button [routerLink]="['customerdetails',customer.id]">Details</button>
        <button [routerLink]="['customeredit',customer.id]">Edit </button>
        <button>Delete</button>
        <br>
        
        
    </li>

    <button routerLink="viewproducts">View Products</button>
    <button routerLink="">SignOut</button>
</ul>
