<h1>List of Products</h1>
<div>
    <ul *ngFor="let product of productlist">
       
       <li>Product Name:{{product.productname}}</li> 
        Price:{{product.price}}
        <!-- ID:{{product.id}} -->
        <br>
        Quantity:{{product.quantity}}

        <br> 
        
        <button disabled="getProductforuserid(product.id)" (click)="addToWishlist(product.id)">Add to Wishlist</button>  
        
        
    </ul>
    

</div>
<button routerLink="/customerlogin/customerhome/">Back</button>
