<div class="container-fluid">
    <h1>Change your password</h1>
    <form [formGroup]="changepassword">
      
        <div class="form-group">
            <label>Enter previous Password</label>
            <input [class.is-invalid]="changepassword.get('prevpassword')?.invalid && changepassword.get('prevpassword')?.touched" formControlName="prevpassword"  type="password" class="form-control">
            <div *ngIf="changepassword.get('prevpassword')?.invalid && changepassword.get('prevpassword')?.touched" >
            <small *ngIf="changepassword.get('prevpassword')?.errors?.['required']" class="text-danger">
              Password is required!
            </small>
            <small *ngIf="changepassword.get('prevpassword')?.errors?.['minlength']" class="text-danger">
              Length of password should be greater than 8 characters!
            </small>
          </div>
          </div>
  
      <div class="form-group">
        <label>Enter new Password</label>
        <input [class.is-invalid]="changepassword.get('newpassword')?.invalid && changepassword.get('newpassword')?.touched" formControlName="newpassword"  type="password" class="form-control">
        <div *ngIf="changepassword.get('newpassword')?.invalid && changepassword.get('newpassword')?.touched" >
        <small *ngIf="changepassword.get('newpassword')?.errors?.['required']" class="text-danger">
          Password is required!
        </small>
        <small *ngIf="changepassword.get('newpassword')?.errors?.['minlength']" class="text-danger">
          Length of password should be greater than 8 characters!
        </small>
      </div>
      </div>
  
      <div class="form-group">
        <label>Confirm new Password</label>
        <input [class.is-invalid]="changepassword.errors?.['mismatch'] && changepassword.get('confirmnewpassword')?.dirty" formControlName="confirmnewpassword" type="password" class="form-control">
        <small *ngIf="changepassword.errors?.['mismatch'] && changepassword.get('confirmnewpassword')?.dirty" class="text-danger">
          Passwords do not match. Enter same passwords!
  
        </small>
      </div>
  
        <button routerLink="/customerlogin/customerhome" type="button" (click)="onSubmit(changepassword.value)" [disabled]="changepassword.invalid" class="btn btn-primary">Submit Form</button>
        <button routerLink="/customerlogin/customerhome" type="button">Back</button>
        
        <!-- <button (click)="loadApiData()" class="btn btn-secondary">Load API data</button> -->
  
        <!-- {{registrationForm.value|json}} -->
  
      </form>
        
        
        </div>
        
  
        
  
        
  
       
        
  
        
  
  
