<div class="container-fluid">
    <h1>Register yourself</h1>
    <form [formGroup]="addCustomers">
      

      <div class="form-group">
        <label>First Name</label>
        <input [class.is-invalid]="addCustomers.get('first_name')?.invalid && addCustomers.get('first_name')?.touched" formControlName="first_name" type="text" class="form-control">
        <div *ngIf="addCustomers.get('first_name')?.invalid && addCustomers.get('first_name')?.touched">
            <small *ngIf="addCustomers.get('first_name')?.errors?.['required']" class="text-danger">
              First Name is required!
            </small>
        </div>
      </div>

      <div class="form-group">
        <label>Last Name</label>
        <input [class.is-invalid]="addCustomers.get('last_name')?.invalid && addCustomers.get('last_name')?.touched" formControlName="last_name" type="text" class="form-control">
        <div *ngIf="addCustomers.get('last_name')?.invalid && addCustomers.get('last_name')?.touched">
            <small *ngIf="addCustomers.get('last_name')?.errors?.['required']" class="text-danger">
              Last Name is required!
            </small>
        </div>
      </div>

      <div class="form-group">
        <label>Email</label>
        <input [class.is-invalid]="addCustomers.get('email')?.invalid && addCustomers.get('email')?.touched" formControlName="email" type="text" class="form-control">
      <div *ngIf="addCustomers.get('email')?.invalid && addCustomers.get('email')?.touched">
        <small *ngIf="addCustomers.get('email')?.errors?.['required']" class="text-danger">
          Email is required!
        </small>

      </div>
    </div>
      

      <div class="form-group">
        <label>Username</label>
        <input [class.is-invalid]="addCustomers.get('username')?.invalid && addCustomers.get('username')?.touched" formControlName="username" type="text" class="form-control">
        <div *ngIf="addCustomers.get('username')?.invalid && addCustomers.get('username')?.touched">
          <small *ngIf="addCustomers.get('username')?.errors?.['required']" class="text-danger">
            Username is required!
          </small>
          <small *ngIf="addCustomers.get('username')?.errors?.['minlength']" class="text-danger">
            Length of username should be greater than 5 characters!
          </small>
          <small *ngIf="addCustomers.get('username')?.errors?.['forbiddenname']" class="text-danger">
            {{addCustomers.get('username')?.errors?.['forbiddenname'].value}} username is not allowed!
          </small>

        </div>
      </div>
      

      <div class="form-group">
        <label>Password</label>
        <input [class.is-invalid]="addCustomers.get('password')?.invalid && addCustomers.get('password')?.touched" formControlName="password"  type="password" class="form-control">
        <div *ngIf="addCustomers.get('password')?.invalid && addCustomers.get('password')?.touched" >
        <small *ngIf="addCustomers.get('password')?.errors?.['required']" class="text-danger">
          Password is required!
        </small>
        <small *ngIf="addCustomers.get('password')?.errors?.['minlength']" class="text-danger">
          Length of username should be greater than 8 characters!
        </small>
      </div>
      </div>

      <div class="form-group">
        <label>Confirm Password</label>
        <input [class.is-invalid]="addCustomers.errors?.['mismatch'] && addCustomers.get('confirmpassword')?.dirty" formControlName="confirmpassword" type="password" class="form-control">
        <small *ngIf="addCustomers.errors?.['mismatch'] && addCustomers.get('confirmpassword')?.dirty" class="text-danger">
          Passwords do not match. Enter same passwords!

        </small>
      </div>

        
        
      
      

      <button routerLink="/customerlogin" (click)="onSubmit(addCustomers.value)" [disabled]="addCustomers.invalid" class="btn btn-primary" type="button">Register</button>
      <button routerLink="/customerlogin" type="button">Back</button>
      
      
      <!-- <button (click)="loadApiData()" class="btn btn-secondary">Load API data</button> -->

      <!-- {{registrationForm.value|json}} -->

    </form>
      
      
      </div>

      

      

     
      

      


