<h1>Admins</h1>
<p>Currently logged in as:{{username}}</p>
<button routerLink="admincreate">Add Admin to List</button>
<button routerLink="viewcustomers">View all customers</button>
<h2>List of Admins</h2>

<ul>
    <li *ngFor="let admin of adminlist">
        {{admin.first_name}}
        <button [routerLink]="['admindetails',admin.id]">Details</button>
        <button [routerLink]="['adminedit',admin.id]">Edit </button>
        <button (click)="onDelete(admin.id)">Delete</button>
        <br>
        
        
    </li>
    <button routerLink="addproduct">Add Product</button>
    <button routerLink="">Signout</button>
</ul>


